.about {
	background-color: #fff;
	padding: 0 25vw;
}

.about--heading {
	padding: 100px 0;
	font-size: 40px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: #1b1b1b;
	letter-spacing: 3px;
	text-align: center;
}

.about--text {
	color: #1b1b1b;
	font-size: 17px;
	font-weight: 400;
	line-height: 32px;
	padding-bottom: 80px;
}

#rutgers,
#usacs,
#bits,
#minosLabs {
	text-decoration: none;
	color: rgb(58, 55, 230);
}

#rutgers:hover {
	color: #1b1b1b;
}

#usacs:hover {
	color: #1b1b1b;
}

#bits:hover {
	color: #1b1b1b;
}

#minosLabs:hover {
	color: #1b1b1b;
}
