.contact {
	background-color: #060d29;
	color: #fefefe;
	padding: 0 15vw;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.contact--heading {
	font-weight: 500;
	padding: 50px 0;
	margin: 0;
	letter-spacing: 3px;
	font-size: 45px;
}

.contact--text {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.react-icons {
	margin: 20px 15px;
}

@media screen and (max-width: 700px) {
	.contact {
		padding: 0 1rem;
	}
}
