.header{
  background: white;
  display: flex;
  flex-wrap: nowrap;
}

.header--logo{
  font-size: 20px;
  color: #988345;
  font-weight: 700;
  width: 50%;
  padding-left: 20px;
  padding-top: 10px;
}

.header--navbar{
  display: flex;
  padding-top: 10px;
  list-style: none;
  width: 50%;
}

.header--navbar-item {
  color: rgb(92, 89, 89);
  margin-right: 3rem;
  font-weight: 350;
  font-size: 20px;
}

.first-item{
  margin-left: 8rem;
}

.header--navbar-item:hover {
  color: black;
  cursor: pointer;
}
