.header{
  padding: 15px 0 5px 0;
  background: white;
}

.header--logo{
  font-size: 20px;
  color: #988345;
  font-weight: 700;
}

.header--navbar{
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
