@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.intro{
    background-color: #bfdbd2;
}

.intro--symbol{
    margin-top: 5rem;
}

.intro--name{
    font-size: 6rem;
    margin: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3rem;
    padding-left: 40px;
    color: var(--syca-yellow);
}

.intro--line{
    width:70px;
    height: 5px;
    background: var(--syca-yellow);
    position: absolute;
    left: 47.5%;
}

.intro--roles{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--syca-yellow);
    margin: 40px 0 60px 90px;
    font-weight: 500;
}
