@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.intro {
	font-family: 'Roboto', sans-serif;
	background-color: #f9f9f9;
	margin-top: 10vh;
	padding: 0 110px;
	font-size: 35px;
}

.intro--main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro--name {
	font-family: 'Roboto', sans-serif;
	color: #1b1b1b;
}

.intro--name .name {
	font-weight: 700;
}

#myImage {
	border-radius: 50%;
	height: 400px;
	width: 400px;
}

@media screen and (max-width: 1050px) {
	.intro {
		padding: 0 50px;
	}

	.intro--main {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.intro--text {
		padding-top: 50px;
	}
}
