.experience {
	background-color: #060d29;
	color: #fefefe;
	padding: 0 10vw;
	font-family: 'Roboto', sans-serif;
}

.experience--title {
	text-align: center;
	font-weight: 500;
	font-size: 45px;
	padding: 100px 0;
	letter-spacing: 3px;
}
