.about{
    background-color: black;
    border-bottom: 1px solid var(--syca-yellow);
}
#myImage{
    margin: 5rem 0;
    height: 380px;
    width: 380px;
    border-radius: 200px;
}

.about--heading{
    color: var(--syca-yellow);
    font-size: 3.5rem;
    font-family: 'Lora', sans-serif;
    margin: 2.5rem 0;
}

.about--para{
    color: var(--syca-yellow);
    padding: 0 1.5rem ;
    font-size: 19px;
    font-weight: 500;
}

#my-rutgers{
    text-decoration: none;
    color: white;
}
