.Contact {
    background-color: black;
    padding: 0 10rem;
}

.footer-heading{
    color: var(--syca-yellow);
    font-size: 3.5rem;
    margin: 2.5rem 0 1rem 0; 
    font-family: 'Lora', sans-serif;
}

.footer-text{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--syca-yellow);
    margin: 2rem 0;
}

.react-icons{
    margin: 20px 15px;
}

@media screen and (max-width: 700px){
    .Contact{
        padding: 0 2rem;
    }
}