.footer {
    background-color: var(--crimson);
    height: 180px;
}

.footer-text {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    /*font-weight: 650;*/
    color: yellow;
    font-size: 60px;
    animation: footer-text 5s; 
    animation-iteration-count: infinite;
    /*animation-timing-function: ease-in-out;*/
    font-family: 'Quicksand', sans-serif;
    animation-delay: 2s ;
    
}

@keyframes footer-text {
    0% {color: var(--aqua);}
    10% {color: #d61320;}
    20% {color: #D3D3D3;}
    30% {color: #d639a2;}
    40% {color: #e6d817;}
    50% {color: #e66617;}
    60% {color: #3eb489;}
    70% {color: #aac0b3;}
    80% {color: #008080;}
    90% {color: #47e617;}
}

.links{
   text-align: center;
   margin: 0;
   padding: 10px 0;
}

.links a {
    margin: 0 30px 0 30px;
}