@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=PT+Sans:ital,wght@0,400;1,700&family=Quicksand:wght@600&display=swap');
:root{
    --wildWatermelon: #ED5565;
    --blue: #145ac9;
    --yellow: #f2e127;
    --black: #000000;
    --lightBlue: #1785A7;
    --aqua: aqua;
    --white: white;
    --crimson: #DC143C;
    margin: 0;

}

/*I can also write only header, without doubt but whatever, a dot is not so much work */
/*<div className = "headerh1">
<h1>Deep Parekh 😄</h1>      </div>*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #5d4954; /*#a71186*/
    font-family: 'Poppins', sans-serif;
  }
  
  .logo{
      color: rgb(211, 208, 208);
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    min-width: 40%;
  }
  .nav-links li{
    list-style:none;
  }
  
  .nav-links a{
    color: rgb(211, 220, 220);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  @media screen and (max-width: 700px){
    .nav-links {
      display :none;
    }
  }

                