:root{
  --syca-yellow: #988345;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  padding-top: 15px;
  background: black;
}

.nav-content {
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  display: inline;
  margin-left: 2.5rem;
  color: var(--syca-yellow)/*#3b455f*/;
  font-weight: 500;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
}

.myName {
  font-size: 20px;
  color: var(--syca-yellow);
  font-weight: 700;
}
