@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "intro image";
    background-color: #252627;
    align-items: center;
}

.text {
    font-family: Poppins, sans-serif;
    grid-area: intro;
    place-self: center;
}

.text .hi{    
    color: aqua;
    font-size: 2vw;
    text-align: left;
    letter-spacing: 2px;
}
  
.text .name {
    color: aqua;
    font-size: 5.2vw;
    text-align: left;
    letter-spacing: 2px;
}
  
.text .titles {
    color: yellow;
    font-size: 1.5vw;
    letter-spacing: 4px;
    text-align: left;
}
  
.text .btn {
    text-decoration: none;
    color: aqua;
    font-size: 1.5vw;
    border: 3px solid rgb(179, 12, 95);
    padding: 10px 15px;
    margin-right: 50px;
}

.text .btn:hover {
    background-color: rgb(53, 104, 104);
    font-size: 1.45vw;
    transition: all 0.2s linear;
}
.myimage {
    grid-area: image;
    justify-self: center;
}

.myimage img{
    width: 30vw;
    height: auto;
    margin: 80px 0;
    border: 5px solid rgb(179, 12, 95);
    border-radius: 15px;
    box-shadow: 5px 5px #252627;
}