.main-intro {
    padding: 0;
    margin: 0;
    height: 600px;
    background-color: #252627; 
    display: grid; 
    grid-template-columns: [col1] 1fr [col2] 1fr [col1end]; 
    grid-template-rows: auto;
    grid-template-areas: 
        "writing image";
    
}

.text {
    grid-area: writing;
    place-self: center;
}

.text h1{
    color: black;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}
/*
<a className = "contact-me" href = "#footer-text">Let's get in touch!</a>*/
.text span{
    display: inline-block;
}

.move {
    margin-left: 5px;
    padding: 0px;
}

.name {
    margin: 0;
    padding-right: 4px;
}

.firstletter {
    padding-left: 10px;
}

.surname {
    padding-left: 4px;
}

span:hover {
    color: aqua;
    transition: all .7s;
}

/*time for student / programmer / baker / artist */
.text p {
    font-size: 20px;
    color: var(--yellow);
    word-spacing: 10px;
    letter-spacing: 2px;
    padding-top: 5px;
}

/*.myButton {
    background: linear-gradient(to bottom, white, 5%, aqua, 100%);
    background-color: var(--wildWatermelon);
    text-decoration: none;
    color: white;
    font-family: 'Quicksand' , sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    border: 5px solid #337bd4;
}*/
.myButton {
	box-shadow: 3px 4px 0px 0px #dceb0c;
	background:linear-gradient(to bottom, #7af6ff 5%, #e00d62 100%);
	background-color:#7af6ff;
	border-radius:5px;
	border:1px solid #9e0f81;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'Quicksand' , sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9603e0;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e00d62 5%, #7af6ff 100%);
	background-color:#e00d62;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*.contact-me {
    display: inline-block;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid var(--crimson);
    color: var(--yellow);
    padding: 12px 25px;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    /*dispay inline block 
}
*/
.image img {
    width: 450px;
    height: 450px;
    border: 5px solid var(--crimson);
    border-radius: 25px;
}

.image {
    grid-area: image;
    place-self: center;
}